{% assign data = site.data %}
{% if data.chronicles %}
  
  {% assign histories = data.chronicles | sort: 'year'%}
  
  {% for item in histories %}  
    <div class="col-md-6">
      <div class="row">
        <div>
          <p>
            {% if item.year %}
              <span class="year">
                {{ item.year | markdownify }}
              </span>
            {% endif %}
          </p>
        </div>
        <div class="history-text">
          <span class="media-heading">
            {{ item.description }}
          </span>          
            {% if item.link %}
              <span class="website"><a href="{{ item.link }}" target="_blank">Related Link</a></span>
            {% endif %}
          
            {% if item.comment %}
              <span class="comment">
                {{ item.comment }}
              </span>
            {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
{% endif %}