<!-- original source code of this page:  https://github.com/compsocialscience/summer-institute-->
{% assign data = site.data %}
{% if data.chronicles %}
  
  {% assign histories = data.chronicles | sort: 'year'%}
  
  {% for item in histories %}  
    {% assign index_mod_2 = forloop.index | modulo: 2 %}
    {% if index_mod_2 == 1 %}
      <div class="row">
    {% endif %}
    <div class="col-md-6">
      <div class="row">
        <div class="year">
          <p>
            {% if item.year %}
              <span class="email">
                {{ item.year | markdownify }}
              </span>
          </p>
        </div>
        <div class="history-text">
          <span class="media-heading">
            {{ item.description }}
          </span>          
            {% if item.link %}
              <span class="website"><a href="{{ item.link }}" target="_blank">Related Link</a></span>
            {% endif %}
          
            {% if item.comment %}
              <span class="comment">
              {{ item.description }}
            {% endif %}
        </div>
      </div>
    </div>
    {% if index_mod_2 == 0 or forloop.last %}
    </div> <!-- close row -->
    {% endif %}
  {% endfor %}
{% endif %}