{% assign data = site.data %}
{% if data.chronicles %}
  
  {% assign histories = data.chronicles %}
  
  {% for item in histories %}  
    <div class="col-md-6">
      <div class="row">
               
            {% if item.year %}
              <div class="year">
                {{ item.year }}
              </div>
            {% endif %}
            <div class="media-heading">
              {{ item.description }}

              {% if item.link %}
                <a href="{{ item.link }}" target="_blank">Link</a>
              {% endif %}

              {% if item.comment %}
                <div class="comment">
                  {{ item.comment }}
                </div>
              {% endif %}

            </div>          
                
      </div>
    </div>
  {% endfor %}
{% endif %}