---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h1 class="title">Civic Tech and Design Timeline</h2>
    <h3 class="subtitle">By Cyd Harrell and Collaborators</h3>
    <p id="background"><a href="https://medium.com/@cydharrell/civic-tech-as-a-tween-4cd780b971bb" target="_blank">Read this article for the background</a></p>
  {%- endif -%}

  {%- include history.html -%}
 


</div>


